<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="avatar" (click)="setAvatar()">
      <ion-avatar *ngIf="user && user.avatar else loading"><img [src]="user.avatar"></ion-avatar>
      <ng-template #loading><ion-icon name="contact" color="light"></ion-icon></ng-template>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button class="notification" (click)="goToMessages()">
      <ion-icon name="notifications" [color]="hasMessage ? 'light' : 'medium'" size="large"></ion-icon>
      <span *ngIf="hasMessage"></span>
    </ion-button>
  </ion-buttons>
</ion-toolbar>