<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="avatar" (click)="setAvatar()">
      <ion-icon name="contact" color="light" *ngIf="!(user$ | async)?.avatar"></ion-icon>
      <ion-avatar *ngIf="(user$ | async)?.avatar"><img [src]="(user$ | async)?.avatar"></ion-avatar>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button class="notification" (click)="goToMessages()">
      <ion-icon name="notifications" [color]="hasMessage ? 'light' : 'medium'" size="large"></ion-icon>
      <span *ngIf="hasMessage"></span>
    </ion-button>
  </ion-buttons>
</ion-toolbar>